body {
    background-color: #111;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
}

.container {
    width: 400px;
    margin: auto;
    background: #000000;
    padding: 20px;
    border-radius: 10px;
}

button {
    background: #e50914;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
}
button:hover {
    background: #f40612;
}
